@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@layer base {
  body, ul, li, p, a, label, input, div {
    font-family: var(--font-roboto), 'Roboto', sans-serif !important;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

.header-logo {
    color: #59ab6e;
    font-family: 'Roboto', sans-serif !important;
    font-size: 48px !important;
    font-weight: 200 !important;
    font-style: normal;
    line-height: 1.2;
}

#template-mo-zay-hero-carousel {
  background: #efefef !important;
}
